.sidebar{
	height: 400px;
	background-color: red;
}
.red{
	height: 400px;
	background-color: blue;
}
.yellow{
	height: 200px;
	background-color: yellow;
}

img {
	max-width: 100%;
}

.widget {
	list-style: none;
}

.iframe_tshirt {
	width: 810px;
	height: 300px;
	padding: 0;
	border: none;
}