/*****************************************/
/* Making background colors match mockup */
/*****************************************/

body {
	background-color: #1f262f;
}

footer {
	background-color: #1b2028;
}

.maincontentarea {
	background-color: #222b35;
}


/*****************************************/
/*                 Fonts                 */
/*****************************************/

* {
	color: #f5f5f5;
	


}

/*****************************************/
/*                Menubar                */
/*****************************************/

.header {
	background-color: #359eee;
	height: 100px;
}


/*****************************************/
/*             Temporary css             */
/*****************************************/



.sidebar{
	height: 400px;
	background-color: red;
}
.red{
	height: 400px;
	background-color: blue;
}
.yellow{
	height: 200px;
	background-color: yellow;
}

/*****************************************/
/*      Formating fields and images      */
/*****************************************/

img {
	max-width: 100%;
}

.widget {
	list-style: none;
}

.iframe_tshirt {
	width: 810px;
	height: 300px;
	padding: 0;
	border: none;
}